.gn-main-home {
    .col, .col-lg-3, .col-md-4, .col-sm-12{
        padding-right: 0;
        padding-left: 0;
    }
    .container-fluid{
        width: 100%;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .container-fluid .row{
        margin: 0;
    }
}
